{% extends 'base.html' %}

{% block content %}
<main>
  <div class="container header">
    <form method="post">
      <div class="row">
        <h2 class="eight columns offset-by-two">
          {% block title %}Sign In{% endblock %}
        </h2>
      </div>
      <div class="row">
        <div class="eight columns offset-by-two">
          <label class="u-full-width"  for="username">Username: </label>
          <input class="u-full-width" name="username" type="text" id="username" required>
        </div>
      </div>
      <div class="row">
        <div class="eight columns offset-by-two">
          <label class="u-full-width"  for="password">Password: </label>
          <input class="u-full-width" type="password" name="password" id="password" required>
        </div>
      </div>
      <div class="row">
        <input class="four columns offset-by-six" type="submit" value="SIGN IN">
      </div>
    </form>
    <br><br>
    <h2>A simple, visual solution to time tracking.</h2>
    <p>
      Draw out blocks of time (called frames) on an infinite vertical timeline.
      Label your frames with a Project, and Notes. Give each Project a unique color.
      Customize the colorscheme of your timepad with fill, stroke and highlight colors.
      Useful for planning your day or tracking your time.
    </p>
    <h2>Examples:</h2>
    <div class="row">
      <img class="four columns" src="{{ url_for('static', filename='img/example1.jpg') }}"/>
      <img class="four columns" src="{{ url_for('static', filename='img/example2.jpg') }}"/>
      <img class="four columns" src="{{ url_for('static', filename='img/example3.jpg') }}"/>
    </div>
  </div>
</main>
{% endblock %}
