{% extends 'base.html' %}

{% block extra_head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.dom.min.js"></script>
    <script src="{{ url_for('static', filename='utilities.js') }}"></script>
    <script src="{{ url_for('static', filename='settings.js') }}"></script>
    <script src="{{ url_for('static', filename='sky.js') }}"></script>
    <script src="{{ url_for('static', filename='render.js') }}"></script>
    <script src="{{ url_for('static', filename='sketch.js') }}"></script>
{% endblock %}

{% block content %}
<div id="toolbar">
    <button id="start_btn">Start</button>
    <button id="now_btn">Now</button>
    <button id="edit_btn">Edit</button>
    <button id="delete_btn">Delete</button>
</div>

<div id="edit_frame_form" class="modal">
    <h2 style="text-align: center;">Edit Frame</h2>
    <label for="project">project</label>
    <input id="project_input" type="text" name="project" value="hey"></input>
    <button id="done_edit_btn">Done</button>
</div>
{% endblock %}
