{% extends 'base.html' %}

{% block extra_head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.dom.min.js"></script>
    <script src="{{ url_for('static', filename='p5/utilities.js') }}"></script>
    <script src="{{ url_for('static', filename='p5/settings.js') }}"></script>
    <script src="{{ url_for('static', filename='p5/model.js') }}"></script>
    <script src="{{ url_for('static', filename='p5/timeline.js') }}"></script>
    <script src="{{ url_for('static', filename='p5/sky.js') }}"></script>
    <script src="{{ url_for('static', filename='p5/frameset.js') }}"></script>
    <script src="{{ url_for('static', filename='p5/overlays.js') }}"></script>
    <script src="{{ url_for('static', filename='p5/dom.js') }}"></script>
    <script src="{{ url_for('static', filename='p5/sketch.js') }}"></script>
{% endblock %}

{% block content %}
<div id="toolbar">
    <button id="start_btn" onclick="start_btn_callback()">REC</button>
    <button id="stop_btn" onclick="stop_btn_callback()">STOP</button>
    <button id="now_btn" onclick="jumpt_to_now()">NOW</button>
    <button id="edit_btn" onclick="edit_btn_callback()">EDIT</button>
    <button id="delete_btn" onclick="delete_btn_callback()">DEL</button>
    <button id="settings_btn" onclick="settings_btn_callback()">PREF</button>
</div>

<div id="edit_frame_form" class="modal">
        <div class="little_form">
    <h2 style="text-align: center;">EDIT FRAME</h2>
    <label for="project">PROJECT</label>
    <input id="project_input" type="text" name="project"></input>
    <label for="project">NOTES</label>
    <input id="notes_input" type="text" name="notes"></input>
    <label for="project">COLOR</label>
    <input id="project_color_input" type="text" name="project_color"></input>
    <button id="done_edit_btn" onclick="done_edit_callback()">DONE</button>
    </div>
</div>

<div id="settings_form" class="modal">
    <div class="little_form">
    <h2 style="text-align: center;">SETTINGS</h2>

    <p>COLORS</p>
    <p>BACKGROUND</p>
    <input id="background_input" type="text"></input>
    <p>FILL</p>
    <input id="fill_input" type="text"></input>
    <p>STROKE</p>
    <input id="stroke_input" type="text"></input>
    <p>ACTIVE</p>
    <input id="active_input" type="text" ></input>
    <p>DRAW SKY</p>
    <input id = "sky_checkbox" type="checkbox" name="sky" value="sky"></input>
    <br><br>
    <button id="done_settings_btn" onclick="done_settings_callback()">DONE</button>
</div>
</div>
{% endblock %}
